Button {
    min-width: 0;
}

ScreenView,
PopenExec {
    display: none;
    width: 3fr;
    background: #88888819;
    border: tall #8888889f;
    padding: 0 1;
}

ScreenView {
    display: block;
}

#screenview-title {
    width: 100%;
    background: #005fff9f;
    text-align: center;
}

#screenviewfields {
    height: auto;
}

#screenviewfields * {
    text-align: center;
    background: #88888825;
    border-right: tall #0000;
}

#log-container {
    background: #0d1117;
}

ScreenItem {
    height: auto;
    background: #009f253f;
    margin: 1 0;
}

#screenviewfields *,
ScreenItem>* {
    width: 5fr;
}

.screenitem-btns,
#screenviewfields .screenviewfields-btns {
    width: 2fr;
}

.screenitem-btns {
    padding: 0;
    border: none;
    text-style: none;
}

#screenitem-terminal {
    background: #ff0000a5;
}

#screenitem-terminal:hover {
    background: #df0000a5;
}

Panel {
    width: 1fr;
    background: #88888819;
    border: tall #8888889f;
}

Panel Button {
    width: 1fr;
    text-style: none;
}

Panel Horizontal {
    margin: 1;
}